*{
	margin: 0px;
	padding: 0px;
}

 /*body{
	background-color: #C1BDBF;

}*/
.rightmenu{
	background-image: url('../image/test2.jpg');
	width: covor;
	height: 80px;

}


.rightmenu h3 {

	font-weight: bold;
	color: #fff;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}




.confirm {
	width:600px;
	height:600px;
	background:#fff;
	color:#000;
	top:80%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
}

.confirm input{
	width:50%;
	/*height:30%;*/
	margin-top: 80px;
	margin-left: 20px;
}

.confirm input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
