*{
	margin: 0px;
	padding: 0px;
}

 /*body{
	background-color: #C1BDBF;

}*/
.rightmenu{
	background-image: url('../image/test2.jpg');
	width: covor;
	height: 80px;

}
li#hover{
	color: yellow;
}


.rightmenu h3 {

	font-weight: bold;
	color: #fff;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.user{
	margin: 0;
	padding: 0;
	text-align: right;

}

.leftmenu{
	background-color: #191818;
	height: 50px;

}

.leftmenu ul{
	margin-left: 40px;

}

.leftmenu ul li{
	font-family: 'Montserrat', sans-serif;
	display: inline-table;
	list-style: none;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
	margin-left: 40px;
}
.leftmenu a{

	text-decoration: none;
	color: #fff;
}


.leftmenu ul li a:hover{
	text-decoration: none;
	color: #ffc107;

}


a.active{
	color: red;
}

.confirm{



}

input [type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
	margin:55px 70px;

}
