 h1{
	 color:#04B404;
	font-family: 'Coda Caption', sans-serif;
	font-size:50px;
}
.register{
	width:420px;
	height:600px;
	background:#fff;
	color:#000;
	top:60%;
	left:30%;
	position:absolute;
	transform:translate(-50%,-50%);
	float:left;
	margin-right:20px;
}

.extra{
	width:420px;
	height:600px;
	background:#fff;
	color:#000;
	top:60%;
	left:65%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	float:left;
}

.register p{
	margin:0;
	padding:0;
	font-weight:bold;

}

.register input{
	width:70%;
	margin-bottom:22px;

}

.gender input{
	width:20px;
	margin-bottom:22px;

}

.extra p{
	margin:0;
	padding:0;
	font-weight:bold;

}

.extra textarea{
	width:50%;
	margin-bottom:22px;

}

.extra input{
	width:60%;
	margin-bottom:22px;

}

.extra input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
	margin:55px 70px;
}

.extra input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
