body{
	font-size:20px;
	font-weight:bold;
	background-image:url('../image/background.jpg');
	background-size:cover;
	font-family:sans-serif;
}
h1{
	 color:#04B404;
	font-family: 'Coda Caption', sans-serif;
	font-size:50px;
}

.u_login{
	width:320px;
	height:430px;
	background:#000;
	color:#fff;
	top:55%;
	left:81%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding:50px 30px;
}

.icon{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);

}

.u_login p{
	margin:0;
	padding:0;
	font-weight: bold;

}

.u_login input{
	width:100%;
	margin-bottom:25px;

}


.u_login input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}

.u_login input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.u_login a{
	text-decoration: none;
	font-size: 12px;
	line-height:20px;
	color: darkgrey;

}

.u_login a:hover{
	color: #ffc107;
}
